.footer img {
    position: relative;
    height: 100px;
    width: 100px;
}
footer {
    background-color: rgb(243, 243, 243);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.socials {
    background-color: rgb(243, 243, 243);
    

}
.svg1 {
    background-color:rgb(243, 243, 243);
}